@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-hex: #1c110a;
    --foreground-light-hex: #1c110a10;
    --background-hex: #e0ddcf;
    --custom-timing: cubic-bezier(0.15, 0.86, 0.66, 0.99);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-hex: #e0ddcf;
        --foreground-light-hex: #e0ddcf10;
        --background-hex: #040f16;
        --background-hex: #080808;
        --background-hex: #000;
    }
}

body {
    overflow-x: hidden;
    color: var(--foreground-hex);
    background: var(--background-hex);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: 2px;
}

#interactive-grid .grid-tile {
    background-color: transparent;
    transition: background 0.5s linear;
    border-right: 1px solid var(--foreground-light-hex);
}

#interactive-grid .grid-tile.active {
    /* opacity: 0.1; */
    background-color: var(--foreground-light-hex);
    transition: none;
}


#custom-pointer {
    @apply pointer-events-none fixed left-1/2 top-1/2 z-[1000] min-h-[0.75rem] min-w-[0.75rem] bg-white;
    transition: all 0.3s ease-out;
    color: var(--background-hex);
    mix-blend-mode: difference;
    border-radius: 0.75rem;

}

#custom-pointer.scale {
    @apply min-h-[2.5rem] min-w-[2.5rem];
    border-radius: 100%;
}

#custom-pointer.scale.with-content {
    border-radius: 0%;
}